@using System.Collections.Generic

@model  IEnumerable<WebAppCompositionRoot.MyTypes.Movie>

@{
    ViewData["Title"] = "Movie list";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
